{% extends "index.html"%}

{% block content %}
<div class="container ">
	<div class="row">
		<div class="col-md-12">
		<form id="branchForm" action="{% url 'item_add' %}"
			class="sky-form" method="POST">
			{% csrf_token %}
			<div><span class="error">                 
  			{{form.errors}}</span></div>
			<header>Add Item</header>
			<input type="hidden" name="saveType" value="{{save_type_status}}" id="saveType_id">
			<fieldset>
				<div class="row">
					<section class="col col-6">
					   <label class="form_lab_css">Item :</label>
						<label class="input">  <input type="text"
							name="name" placeholder=""
							value="{{form.name.value|default_if_none:''}}">
						</label>
					</section>

					<section class="col col-6">
						<label class="form_lab_css">Title :</label>
						<label class="input">  <input type="text"
							name="title" placeholder=""
							value="{{form.title.value|default_if_none:''}}">
						</label>
					</section>

					<section class="col col-6">
						<label class="form_lab_css">Description :</label>
						<label class="input">  <input type="text"
							name="title" placeholder=""
							value="{{form.description.value|default_if_none:''}}">
						</label>
					</section>

					<section class="col col-6">
						<label class="form_lab_css">Image :</label>
						<label class="input">  <input type="text"
							name="title" placeholder=""
							value="{{form.image.value|default_if_none:''}}">
						</label>
					</section>
				</div>

			</fieldset>
			<footer>
				<button type="submit" class="btn btn-primary">Save</button>
		
				<a class="btn btn-danger" href="{% url 'item_list' %}" style="color:white !important">Cancel</a>
			</footer>
		</form>
	</div>
</div>
</div>
<script>
$(document).ready(function(){
	$("#save_and_add").click(function(){
		$("#saveType_id").val("true");
		$("#branchForm").submit();

	});
	

});
</script>

			</body>
			{% endblock %}